#**Cuotas AFP Hábitat desde 2002 hasta 2024**

In [1]:
import pandas as pd

##Valores de cuota para el año 2002

In [17]:
# Especifica el rango de filas a leer
start_row = 4
end_row = 157
num_rows = end_row - start_row

# Lee el archivo CSV desde la línea 3 hasta la línea 157
df_2002 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
df_2002 = df_2002.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(df_2002.head(5))             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 2"
columnas_a_eliminar = ['Fecha', 'CUPRUM', 'HABITAT', 'Unnamed: 4', 'MAGISTER', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA', 'Unnamed: 12', 'SUMMA BANSANDER']
df_2002 = df_2002.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2002.columns = columnas
df_2002 = df_2002.drop(0)
print(df_2002)

          Fecha      Cuota
1    2002-08-01  10.000,00
2    2002-08-02  10.000,00
3    2002-08-03  10.000,00
4    2002-08-04  10.000,00
5    2002-08-05  10.000,00
..          ...        ...
148  2002-12-26  10.189,40
149  2002-12-27  10.208,77
150  2002-12-28  10.208,77
151  2002-12-29  10.208,77
152  2002-12-30  10.210,26

[152 rows x 2 columns]

##Valores de cuota para año 2003

In [21]:

start_row = 162
end_row = 528
num_rows = end_row - start_row

df_2003 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
df_2003 = df_2003.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(df_2003.head(5))             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 2"
columnas_a_eliminar = ['Fecha', 'CUPRUM', 'HABITAT', 'Unnamed: 4', 'MAGISTER', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA', 'Unnamed: 12', 'SUMMA BANSANDER']
df_2003 = df_2003.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2003.columns = columnas
df_2003 = df_2003.drop(0)
print(df_2003)

          Fecha      Cuota
1    2003-01-01  10.169,90
2    2003-01-02  10.209,25
3    2003-01-03  10.213,08
4    2003-01-04  10.213,08
5    2003-01-05  10.213,08
..          ...        ...
361  2003-12-27  12.871,10
362  2003-12-28  12.871,10
363  2003-12-29  12.862,98
364  2003-12-30  12.978,73
365  2003-12-31  13.008,63

[365 rows x 2 columns]

##Valores de cuota para año 2004

In [37]:
#Primera parte año 2004

start_row = 532
end_row = 593
num_rows = end_row - start_row

df_2004_1 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
df_2004_1 = df_2004_1.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(df_2004_1.head(5))             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 2"
columnas_a_eliminar = ['Fecha', 'CUPRUM', 'HABITAT', 'Unnamed: 4', 'MAGISTER', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA', 'Unnamed: 12', 'SUMMA BANSANDER']
df_2004_1 = df_2004_1.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2004_1.columns = columnas
df_2004_1 = df_2004_1.drop(0)
print(df_2004_1)

#Segunda Parte año 2004

start_row = 597
end_row = 904
num_rows = end_row - start_row

df_2004_2 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
df_2004_2 = df_2004_2.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(df_2004_2.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 2"
columnas_a_eliminar = ['Fecha', 'CUPRUM', 'HABITAT', 'Unnamed: 4','Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA','SUMMA BANSANDER']
df_2004_2 = df_2004_2.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2004_2.columns = columnas
df_2004_2 = df_2004_2.drop(0)
# print(df_2004_2)

df_2004 = pd.concat([df_2004_1, df_2004_2], axis = 0)
print(df_2004)

         Fecha      Cuota
1   2004-01-01  13.008,63
2   2004-01-02  12.995,38
3   2004-01-03  12.995,38
4   2004-01-04  12.995,38
5   2004-01-05  12.986,33
6   2004-01-06  13.014,69
7   2004-01-07  13.008,25
8   2004-01-08  13.101,90
9   2004-01-09  13.103,95
10  2004-01-10  13.103,95
11  2004-01-11  13.103,95
12  2004-01-12  13.085,55
13  2004-01-13  13.142,99
14  2004-01-14  13.203,15
15  2004-01-15  13.246,19
16  2004-01-16  13.157,77
17  2004-01-17  13.157,77
18  2004-01-18  13.157,77
19  2004-01-19  13.214,14
20  2004-01-20  13.112,17
21  2004-01-21  13.129,11
22  2004-01-22  13.162,43
23  2004-01-23  13.226,24
24  2004-01-24  13.226,24
25  2004-01-25  13.226,24
26  2004-01-26  13.302,07
27  2004-01-27  13.300,53
28  2004-01-28  13.271,47
29  2004-01-29  13.351,78
30  2004-01-30  13.320,86
31  2004-01-31  13.320,86
32  2004-02-01  13.320,86
33  2004-02-02  13.112,71
34  2004-02-03  12.958,95
35  2004-02-04  13.122,78
36  2004-02-05  13.163,22
37  2004-02-06  13.160,82
38  2004-02-07  13.160,82
39  2004-02-08  13.160,82
40  2004-02-09  13.188,55
41  2004-02-10  13.106,53
42  2004-02-11  13.204,66
43  2004-02-12  13.265,40
44  2004-02-13  13.256,90
45  2004-02-14  13.256,90
46  2004-02-15  13.256,90
47  2004-02-16  13.301,96
48  2004-02-17  13.376,80
49  2004-02-18  13.321,30
50  2004-02-19  13.459,46
51  2004-02-20  13.616,33
52  2004-02-21  13.616,33
53  2004-02-22  13.616,33
54  2004-02-23  13.523,78
55  2004-02-24  13.505,57
56  2004-02-25  13.560,07
57  2004-02-26  13.433,05
58  2004-02-27  13.540,61
59  2004-02-28  13.540,61
60  2004-02-29  13.540,61
          Fecha      Cuota
1    2004-01-01  13.008,63
2    2004-01-02  12.995,38
3    2004-01-03  12.995,38
4    2004-01-04  12.995,38
5    2004-01-05  12.986,33
..          ...        ...
302  2004-12-27  14.950,43
303  2004-12-28  14.992,84
304  2004-12-29  14.963,16
305  2004-12-30  15.020,39
306  2004-12-31  15.027,96

[366 rows x 2 columns]

##Valores de cuotas para el año 2005

In [ ]:
#Parte 1 año 2005

start_row = 907
end_row = 967
num_rows = end_row - start_row

df_2005_1 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CUPRUM', 'Unnamed: 2','Unnamed: 13','Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA', 'Unnamed: 12', 'SUMMA BANSANDER', 'Unnamed: 14', 'Unnamed: 4']
df_2005_1 = df_2005_1.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2005_1.columns = columnas
df_2005_1 = df_2005_1.drop(0)

#Parte 2 año 2005

start_row = 971
end_row = 1278
num_rows = end_row - start_row

df_2005_2 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['BANSANDER', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2005_2 = df_2005_2.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2005_2.columns = columnas
df_2005_2 = df_2005_2.drop(0)

df_2005 = pd.concat([df_2005_1, df_2005_2], axis = 0)
print(df_2005)

          Fecha      Cuota
1    01-01-2005  15.027,96
2    02-01-2005  15.027,96
3    03-01-2005  15.039,82
4    04-01-2005  15.103,64
5    05-01-2005  15.097,95
..          ...        ...
302  27-12-2005  17.174,22
303  28-12-2005  17.177,61
304  29-12-2005  17.157,66
305  30-12-2005  17.154,79
306  31-12-2005  17.154,79

[365 rows x 2 columns]

##Valores de cuotas para el año 2006

In [ ]:
start_row = 1282
end_row = 1648
num_rows = end_row - start_row

df_2006 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['BANSANDER', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2006 = df_2006.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2006.columns = columnas
df_2006 = df_2006.drop(0)
print(df_2006)

          Fecha      Cuota
1    01-01-2006  17.154,79
2    02-01-2006  17.210,29
3    03-01-2006  17.210,78
4    04-01-2006  17.262,93
5    05-01-2006  17.459,31
..          ...        ...
361  27-12-2006  21.200,29
362  28-12-2006  21.252,07
363  29-12-2006  21.366,32
364  30-12-2006  21.366,32
365  31-12-2006  21.366,32

[365 rows x 2 columns]

##Valores de cuotas para el año 2007

In [ ]:
start_row = 1652
end_row = 2018
num_rows = end_row - start_row

df_2007 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['BANSANDER', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2007 = df_2007.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2007.columns = columnas
df_2007 = df_2007.drop(0)
print(df_2007)

          Fecha      Cuota
1    01-01-2007  21.366,32
2    02-01-2007  21.403,23
3    03-01-2007  21.477,93
4    04-01-2007  21.559,69
5    05-01-2007  21.592,21
..          ...        ...
361  27-12-2007  25.046,81
362  28-12-2007  25.203,60
363  29-12-2007  25.203,60
364  30-12-2007  25.203,60
365  31-12-2007  25.210,86

[365 rows x 2 columns]

##Valores de cuotas para el año 2008

In [ ]:
#Parte 1 año 2008

start_row = 2022
end_row = 2114
num_rows = end_row - start_row

df_2008_1 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['BANSANDER', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2008_1 = df_2008_1.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2008_1.columns = columnas
df_2008_1 = df_2008_1.drop(0)

#Parte 2 del año 2008

start_row = 2118
end_row = 2394
num_rows = end_row - start_row

df_2008_2 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2008_2 = df_2008_2.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2008_2.columns = columnas
df_2008_2 = df_2008_2.drop(0)

df_2008 = pd.concat([df_2008_1, df_2008_2], axis = 0)
print(df_2008)

          Fecha      Cuota
1    01-01-2008  25.210,86
2    02-01-2008  25.241,78
3    03-01-2008  25.211,47
4    04-01-2008  25.004,55
5    05-01-2008  25.004,55
..          ...        ...
271  27-12-2008  16.329,09
272  28-12-2008  16.329,09
273  29-12-2008  16.374,77
274  30-12-2008  16.440,64
275  31-12-2008  16.562,12

[366 rows x 2 columns]

##Valores de cuotas para el año 2009

In [ ]:
start_row = 2398
end_row = 2764
num_rows = end_row - start_row

df_2009 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2009 = df_2009.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2009.columns = columnas
df_2009 = df_2009.drop(0)
print(df_2009)

          Fecha      Cuota
1    01-01-2009  16.562,12
2    02-01-2009  16.659,75
3    03-01-2009  16.659,75
4    04-01-2009  16.659,75
5    05-01-2009  16.880,77
..          ...        ...
361  27-12-2009  23.200,73
362  28-12-2009  23.252,64
363  29-12-2009  23.368,67
364  30-12-2009  23.426,72
365  31-12-2009  23.467,49

[365 rows x 2 columns]

##Valores de cuotas para el año 2010

In [ ]:
#Parte 1 año 2010

start_row = 2768
end_row = 3012
num_rows = end_row - start_row

df_2010_1 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2010_1 = df_2010_1.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2010_1.columns = columnas
df_2010_1 = df_2010_1.drop(0)

#Parte 2 año 2010

start_row = 3016
end_row = 3139
num_rows = end_row - start_row

df_2010_2 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2010_2 = df_2010_2.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2010_2.columns = columnas
df_2010_2 = df_2010_2.drop(0)

df_2010 = pd.concat([df_2010_1, df_2010_2], axis = 0)
print(df_2010)

          Fecha      Cuota
1    01-01-2010  23.467,49
2    02-01-2010  23.467,49
3    03-01-2010  23.467,49
4    04-01-2010  23.495,44
5    05-01-2010  23.790,69
..          ...        ...
118  27-12-2010  26.815,11
119  28-12-2010  26.818,31
120  29-12-2010  26.751,39
121  30-12-2010  26.900,75
122  31-12-2010  27.023,61

[365 rows x 2 columns]

##Valores de cuotas para el año 2011

In [ ]:
start_row = 3143
end_row = 3509
num_rows = end_row - start_row

df_2011 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2011 = df_2011.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2011.columns = columnas
df_2011 = df_2011.drop(0)
print(df_2011)

          Fecha      Cuota
1    01-01-2011  27.023,61
2    02-01-2011  27.023,61
3    03-01-2011  27.059,61
4    04-01-2011  27.205,54
5    05-01-2011  27.846,48
..          ...        ...
361  27-12-2011  25.210,18
362  28-12-2011  25.206,91
363  29-12-2011  24.992,22
364  30-12-2011  25.085,71
365  31-12-2011  25.085,71

[365 rows x 2 columns]

##Valores de cuotas para el año 2012

In [ ]:
start_row = 3513
end_row = 3880
num_rows = end_row - start_row

df_2012 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2012 = df_2012.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2012.columns = columnas
df_2012 = df_2012.drop(0)
print(df_2012)

          Fecha      Cuota
1    01-01-2012  25.085,71
2    02-01-2012  25.067,89
3    03-01-2012  25.068,09
4    04-01-2012  25.289,68
5    05-01-2012  25.295,10
..          ...        ...
362  27-12-2012  27.248,95
363  28-12-2012  27.314,70
364  29-12-2012  27.314,70
365  30-12-2012  27.314,70
366  31-12-2012  27.282,45

[366 rows x 2 columns]

##Valores de cuotas para el año 2013

In [ ]:
start_row = 3884
end_row = 4250
num_rows = end_row - start_row

df_2013 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2013 = df_2013.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2013.columns = columnas
df_2013 = df_2013.drop(0)
print(df_2013)

          Fecha      Cuota
1    01-01-2013  27.282,45
2    02-01-2013  27.469,80
3    03-01-2013  27.699,09
4    04-01-2013  27.717,09
5    05-01-2013  27.717,09
..          ...        ...
361  27-12-2013  29.699,99
362  28-12-2013  29.699,99
363  29-12-2013  29.699,99
364  30-12-2013  29.730,10
365  31-12-2013  29.798,30

[365 rows x 2 columns]

##Valores de cuotas para el año 2014

In [ ]:
start_row = 4254
end_row = 4620
num_rows = end_row - start_row

df_2014 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2014 = df_2014.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2014.columns = columnas
df_2014 = df_2014.drop(0)
print(df_2014)

          Fecha      Cuota
1    01-01-2014  29.798,30
2    02-01-2014  29.898,70
3    03-01-2014  29.873,73
4    04-01-2014  29.873,73
5    05-01-2014  29.873,73
..          ...        ...
361  27-12-2014  34.227,99
362  28-12-2014  34.227,99
363  29-12-2014  34.249,36
364  30-12-2014  34.324,07
365  31-12-2014  34.256,69

[365 rows x 2 columns]

##Valores de cuotas para el año 2015

In [ ]:
start_row = 4624
end_row = 4990
num_rows = end_row - start_row

df_2015 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2015 = df_2015.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2015.columns = columnas
df_2015 = df_2015.drop(0)
print(df_2015)

          Fecha      Cuota
1    01-01-2015  34.256,69
2    02-01-2015  34.206,70
3    03-01-2015  34.206,70
4    04-01-2015  34.206,70
5    05-01-2015  34.410,87
..          ...        ...
361  27-12-2015  36.652,17
362  28-12-2015  36.815,73
363  29-12-2015  36.908,96
364  30-12-2015  37.179,18
365  31-12-2015  37.091,74

[365 rows x 2 columns]

##Valores de cuota para el año 2016

In [ ]:
#Hay un día extra porque es año bisiesto

start_row = 4994
end_row = 5361
num_rows = end_row - start_row

df_2016 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2016 = df_2016.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2016.columns = columnas
df_2016 = df_2016.drop(0)
print(df_2016)

          Fecha      Cuota
1    01-01-2016  37.091,74
2    02-01-2016  37.091,74
3    03-01-2016  37.091,74
4    04-01-2016  37.088,98
5    05-01-2016  36.766,69
..          ...        ...
362  27-12-2016  38.044,65
363  28-12-2016  38.131,58
364  29-12-2016  38.149,02
365  30-12-2016  38.043,31
366  31-12-2016  38.043,31

[366 rows x 2 columns]

##Valores de cuotas para el año 2017

In [ ]:
start_row = 5365
end_row = 5731
num_rows = end_row - start_row

df_2017 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2017 = df_2017.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2017.columns = columnas
df_2017 = df_2017.drop(0)
print(df_2017)

          Fecha      Cuota
1    01-01-2017  38.043,31
2    02-01-2017  38.043,31
3    03-01-2017  38.218,64
4    04-01-2017  38.473,57
5    05-01-2017  38.582,46
..          ...        ...
361  27-12-2017  44.787,20
362  28-12-2017  44.675,13
363  29-12-2017  44.790,45
364  30-12-2017  44.790,45
365  31-12-2017  44.790,45

[365 rows x 2 columns]

##Valores de cuotas para el año 2018

In [ ]:
start_row = 5735
end_row = 6101
num_rows = end_row - start_row

df_2018 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2018 = df_2018.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2018.columns = columnas
df_2018 = df_2018.drop(0)
print(df_2018)

          Fecha      Cuota
1    01-01-2018  44.790,45
2    02-01-2018  44.839,67
3    03-01-2018  44.850,09
4    04-01-2018  44.838,63
5    05-01-2018  45.085,63
..          ...        ...
361  27-12-2018  43.016,91
362  28-12-2018  43.252,36
363  29-12-2018  43.252,36
364  30-12-2018  43.252,36
365  31-12-2018  43.503,13

[365 rows x 2 columns]

##Valores de cuotas para el año 2019

In [ ]:
#Parte 1 año 2019

start_row = 6105
end_row = 6379
num_rows = end_row - start_row

df_2019_1 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']
df_2019_1 = df_2019_1.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2019_1.columns = columnas
df_2019_1 = df_2019_1.drop(0)

#Parte 2 año 2019

start_row = 6383
end_row = 6476
num_rows = end_row - start_row

df_2019_2 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'UNO', 'Unnamed: 14']
df_2019_2 = df_2019_2.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2019_2.columns = columnas
df_2019_2 = df_2019_2.drop(0)
df_2019 = pd.concat([df_2019_1, df_2019_2], axis = 0)
print(df_2019)                         #Es necesario resetear el índice luego de usar concat

         Fecha      Cuota
1   01-01-2019  43.503,13
2   02-01-2019  43.585,14
3   03-01-2019  43.654,15
4   04-01-2019  43.519,33
5   05-01-2019  43.519,33
..         ...        ...
88  27-12-2019  52.115,17
89  28-12-2019  52.115,17
90  29-12-2019  52.115,17
91  30-12-2019  52.171,78
92  31-12-2019  52.141,66

[365 rows x 2 columns]

##Valores de cuotas para el año 2020

In [ ]:
start_row = 6480
end_row = 6847
num_rows = end_row - start_row

df_2020 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'UNO', 'Unnamed: 14']
df_2020 = df_2020.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2020.columns = columnas
df_2020 = df_2020.drop(0)
print(df_2020)

          Fecha      Cuota
1    01-01-2020  52.141,66
2    02-01-2020  52.349,68
3    03-01-2020  53.190,38
4    04-01-2020  53.190,38
5    05-01-2020  53.190,38
..          ...        ...
362  27-12-2020  54.039,15
363  28-12-2020  53.730,64
364  29-12-2020  53.951,95
365  30-12-2020  54.260,43
366  31-12-2020  54.549,80

[366 rows x 2 columns]

##Valores de cuotas para el año 2021

In [ ]:
start_row = 6851
end_row = 7217
num_rows = end_row - start_row

df_2021 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'UNO', 'Unnamed: 14']
df_2021 = df_2021.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2021.columns = columnas
df_2021 = df_2021.drop(0)
print(df_2021)

          Fecha      Cuota
1    01-01-2021  54.549,80
2    02-01-2021  54.549,80
3    03-01-2021  54.549,80
4    04-01-2021  54.739,13
5    05-01-2021  54.572,20
..          ...        ...
361  27-12-2021  66.073,68
362  28-12-2021  66.074,83
363  29-12-2021  66.039,98
364  30-12-2021  65.588,76
365  31-12-2021  65.673,90

[365 rows x 2 columns]

##Valores de cuotas para el año 2022

In [ ]:
start_row = 7221
end_row = 7587
num_rows = end_row - start_row

df_2022 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'UNO', 'Unnamed: 14']
df_2022 = df_2022.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2022.columns = columnas
df_2022 = df_2022.drop(0)
print(df_2022)

          Fecha      Cuota
1    01-01-2022  65.673,90
2    02-01-2022  65.673,90
3    03-01-2022  65.460,01
4    04-01-2022  65.948,43
5    05-01-2022  65.954,70
..          ...        ...
361  27-12-2022  59.763,81
362  28-12-2022  59.560,70
363  29-12-2022  58.444,35
364  30-12-2022  58.888,59
365  31-12-2022  58.888,59

[365 rows x 2 columns]

##Valores de cuotas para el año 2023

In [ ]:
start_row = 7591
end_row = 7957
num_rows = end_row - start_row

df_2023 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'UNO', 'Unnamed: 14']
df_2023 = df_2023.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2023.columns = columnas
df_2023 = df_2023.drop(0)
print(df_2023)

          Fecha      Cuota
1    01-01-2023  58.888,59
2    02-01-2023  58.888,59
3    03-01-2023  58.655,36
4    04-01-2023  58.383,78
5    05-01-2023  58.816,99
..          ...        ...
361  27-12-2023  66.286,30
362  28-12-2023  66.042,93
363  29-12-2023  66.254,19
364  30-12-2023  66.254,19
365  31-12-2023  66.254,19

[365 rows x 2 columns]

##Valores de cuota del año 2024 hasta el mes de febrero

In [ ]:
start_row = 7961
end_row = 8022
num_rows = end_row - start_row

df_2024 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
columnas_a_eliminar = ['CAPITAL', 'Unnamed: 2','CUPRUM', 'Unnamed: 4', 'Unnamed: 6','MODELO', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10','Unnamed: 12', 'UNO', 'Unnamed: 14']
df_2024 = df_2024.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
df_2024.columns = columnas
df_2024 = df_2024.drop(0)
# print(df_2024)

##Concatenación de la información

In [ ]:
valor_cuota1 = pd.concat([df_2002, df_2003, df_2004, df_2005, df_2006, df_2007, df_2008, df_2009, df_2010, df_2011, df_2012, df_2013], axis = 0)
valor_cuota2 = pd.concat([df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022, df_2023, df_2024], axis = 0)
valor_cuota = pd.concat([valor_cuota1, valor_cuota2], axis = 0)
valor_cuota = valor_cuota.reset_index()                   #Reinica el índice
valor_cuota = valor_cuota.drop(['index'], axis = 1)       #Elimina el antiguo índice
print(valor_cuota)

           Fecha      Cuota
0     01-08-2002  10.000,00
1     02-08-2002  10.000,00
2     03-08-2002  10.000,00
3     04-08-2002  10.000,00
4     05-08-2002  10.000,00
...          ...        ...
7878  25-02-2024  71.406,05
7879  26-02-2024  72.062,95
7880  27-02-2024  72.101,07
7881  28-02-2024  72.251,97
7882  29-02-2024  71.796,98

[7883 rows x 2 columns]